$background-color: #012e58;
$nav-color: #fff;
$nav-color-active: #F6B233;
$separator-color: #ffe000;
$separator-thickness: 8px;
$logo-separator-color: #F8BC00;
$aside-color: #fff;
$aside-background-color: #262727;
$h3-background-color: $background-color;
$dialog-titlebar-background-color: $background-color;
$dialog-titlebar-color: #eaf5f7;
$button-background-color: #f8b333;
$button-color: #000000;
$button-background-color-hover: #000000;
$button-color-hover: #f8b333;



#logo {
    background: url(images/logo.png) no-repeat;
}



$background-color: white;
$nav-color: blue;
$nav-color-active: #01bbf4;
$separator-color: #e2ebf2;
$separator-thickness: 1px;
$logo-separator-color: #e2ebf2;
$aside-color: #fff;
$aside-background-color: blue;
$h3-background-color: #01bbf4;
$dialog-titlebar-background-color: $background-color;
$dialog-titlebar-color: blue;
$button-background-color: blue;
$button-color: #fff;
$button-background-color-hover: #fff;
$button-color-hover: blue;


@import '../../OceanBrowser';