#logo {
    background: url(images/logo.png) no-repeat;
}


$background-color: white;
$nav-color: blue;
$nav-color-active: #01bbf4;
$separator-color: #e2ebf2;
$separator-thickness: 1px;
$logo-separator-color: #e2ebf2;
$aside-color: #fff;
$aside-background-color: blue;
$h3-background-color: #01bbf4;
$dialog-titlebar-background-color: $background-color;
$dialog-titlebar-color: blue;
$button-background-color: blue;
$button-color: #fff;
$button-background-color-hover: #fff;
$button-color-hover: blue;


@import '../../OceanBrowser';