.earthgl-zoom-in {
  position: absolute; 
  left: 10px; 
  top: 50px; 
  color: white;
  width: 22px;
  height: 22px;
  background-image: url("img/zoom-plus-mini.png");
  z-index: 1000;
}

.earthgl-zoom-out {
  position: absolute; 
  left: 10px; 
  top: 74px; 
  color: white;
  width: 22px;
  height: 22px;
  background-image: url("img/zoom-minus-mini.png");
  z-index: 1000;
}

.earthgl-canvas {
  position: absolute; 
  z-index: 0;
}

.EarthGLControlConfig {
  position: absolute; 
  left: 10px; 
  top: 98px; 
  color: white;
  width: 22px;
  height: 22px;
  background-image: url("img/config-mini.png");
  z-index: 1000;
}

.EarthGLControlRotate {
  position: absolute; 
  left: 10px; 
  top: 122px; 
  color: white;
  width: 22px;
  height: 22px;
  background-image: url("img/rotate-mini.png");
  z-index: 1000;
}

.EarthGLControlCameraPosition {
  position: absolute; 
  left: 10px; 
  bottom: 10px; 
  color: white;  
  border: 1px white solid;
  padding: 5px;
  z-index: 1000;
  font-size: small;
  font-family: sans-serif;
  background-color: black;
}