header {
    background: url(images/background_primary_header.jpg) no-repeat;
}

#logo {
    background: url(images/logo_2x.png) no-repeat;
}


$background-color: #012e58;
$nav-color: #fff;
$nav-color-active: #F6B233;
$separator-color: #ffe000;
$separator-thickness: 8px;
$logo-separator-color: #F8BC00;
$aside-color: #fff;
$aside-background-color: #262727;
$h3-background-color: $background-color;
$dialog-titlebar-background-color: $background-color;
$dialog-titlebar-color: #eaf5f7;
$button-background-color: #f8b333;
$button-color: #000000;
$button-background-color-hover: #000000;
$button-color-hover: #f8b333;

@import '../../OceanBrowser';