.mydiva_tickslabel {
           font-size: small;
           position: absolute; 
           left: 30px; 
           margin-top:-.5em; 
}

.mydiva_ticks {
           font-size: small;
	   position: absolute; 
           left: 20px; 
           border: solid; 
           border-width: 1px 0 0 0; 
           height: 0px; 
           width: 8px        
}


.mydiva_colorbar_jet {
  margin-left: 10px; 
  margin-right: 40px; 
  position: relative; /* allow positioning of labels */
  background-image: url('../img/colorbar_jet_24x350.png'); 
  width: 24px; 
  height: 350px; 
  border: 1px solid black;
  float: left;
}

/* make sure that dialog is above map */
.ui-dialog {
  z-index: 1000;
}
