body {
  min-width: 600px;
  font-family: "Bitstream Vera Sans",Verdana,Arial,Helvetica,sans-serif;
}


.AddLayer {
  position: absolute; 
  left: 10px; 
  top: 146px; 
  color: white;
  width: 22px;
  height: 22px;
  background-image: url("../img/addlayer-mini.png");
  z-index: 1000;
}

fieldset p {
  margin:0.4em;
}

.bookmark {
  position: relative; 
  width: 22px;
  height: 22px;
  background-image: url("../img/bookmark.png");
}


/* added for jsTree */

.jstree-default.jstree-focused {
  background: white;
}