body {
  font-family: "Bitstream Vera Sans",Verdana,Arial,Helvetica,sans-serif;
  margin: 5px;  
}

#links {
  float: right;
}

#links a {
  font-weight: bold;
  padding-left: 10px;
}

#body {
/*  background-color: #eef;*/
  clear: both;
/* 1044 = 380+30+600+30+4 */
  width: 1044px;
  margin: 0px;
  padding: 0px;
}


#main_interface {
  float: left; 
  width: 380px; 
  padding: 5px;
}


#divafit_quality {
  visibility: hidden;
}


h2 {
      margin-top: 5px;  
/*      padding:0px;*/

}

input.previous {
     float:left;
}

input.next {
      float:right;
}


#warning_ie6 {
  font-weight: bold;
  color: red;
  border-style: solid;
/*      background-color: #fdd; */
  border-width: 1px;   
  border-color: #f00;    
  margin: 10px;  
  padding:10px;
/*  display: none;*/
}

#debug {
  clear: both;
}

#log {
  clear: both;
}

#upload_reply {
  clear: both;
}

#status {
  clear: both;
  margin: 10px;  
  padding:10px;
}


div.processing {
  position: absolute;	
  top: 350px; 
  left: 0px;
  margin-top: 20px; 
  width: 512px; 
  border: 1px #aea black; 
  text-align: center;
}

div.processing span img {
    vertical-align:middle;
}

div.processing span {
    padding: 15px;
}

#footer {
  clear: both;
 /* border-style: solid; 
  border-width: 1px;   
  border-color: #aea;    */
  margin: 5px;  
  padding:10px;
  background: none;
/*  border: 1px solid #AAAAAA;*/
}


#footer a {
    text-decoration: none;
}


#debug_info {
  clear: both;
}


/* new version */

#map {
  width: 512px;
  height: 350px;
  border-style: solid; 
  float: left; 
  border-width: 1px;   
/*  border-color: #aea;    */
  margin: 5px 5px 70px 5px;  
  position: relative;	
  background: none;
  color: #fff;
}

.tickslabel {
    font-size: small;
    position: absolute; 
    left: 30px; 
    margin-top:-.5em; 
}

.ticks {
    font-size: small;
    position: absolute; 
    left: 20px; 
    border: solid; 
    border-width: 1px 0 0 0; 
    height: 0px; 
    width: 8px        
}


#cb {
  float: left; 
  margin-top: 5px; 
  margin-left: 10px; 
  position: relative;
}


#cb_image {
  border: 1px solid black;
}


.colorbar_jet {
  margin-top: 5px; 
  margin-left: 10px; 
  margin-right: 40px; 
  position: relative; /* allow positioning of labels */
  background-image: url('../img/colorbar_jet_24x350.png'); 
  width: 24px; 
  height: 350px; 
  border: 1px solid black;
  float: left;
}


.box {
  float: left;
  margin: 5px;  
  padding: 5px;
}

#button_box {
/*  width: 492px; map width minus 2 padding of box */
}


#embed_ok {
    color: #0b0;
    background-color: white; 
    font-weight: bold;  
}

#embed_instructions p {
    font-style: italic; 
}


#embed_dialog table tr td input {
    width: 13em;
}

#bug_dialog table tr td input {
    width: 13em;
}

table.sample {
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
}
table.sample th {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
}
table.sample td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
}


a img{
  border:none;
}

/* make visible over different backgrounds */

div.olControlMousePosition {
    border: 1px solid #AAAAAA;
    color: #222;
    background-color:#FFF;
    padding: 3px;
    bottom: 0px;
    font-size:small;
}


.colorbar2 {
  margin-top: 0px; 
  margin-left: 10px; 
  position: relative; /* allow positioning of labels */
  width: 80px; 
  height: 330px; 
  border: none;
  float: left;
  background-repeat:no-repeat;
}


div.colorbar2:hover {
    box-shadow: 0px 0px 4px #0a71b3;
}

#metadata_dialog tr td:nth-child(1) {
  width: 150px;
}

#metadata_dialog tr td:nth-child(2) input {
  width: 430px;
}



/* jquery sane padding */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: .2em 1em;
}
.ui-tabs .ui-tabs-panel {
    padding: 1em 0.5em;
}