#main_interface {
/* hack necessary to fix bug in IE 6 
  http://www.positioniseverything.net/explorer/doubled-margin.html*/
  display: inline;	
}

/* http://jehiah.cz/archive/button-width-in-ie */


input {
   padding:0 .25em 0 .25em;
   width:auto;
   overflow:visible;
}


/* http://gtwebdev.com/workshop/vcenter/vcenter-inline-css.php */
loading {
  display: inline-block;
}

b.ie_vert_align {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

