body {
    font-family: sans-serif;
}
h1 {
    font-size: larger;
    margin: 0px;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
}

#map_loading {
    position: absolute;
    z-index: 1000;          
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-right: -10px;
    width: 200px;
    height: 20px;
}

#WFS_control {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background-color: white;
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    opacity: .9;
}

#WFS_control h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: medium;
}

#WFS_form {
    padding-top: 10px;
}

#WFS_server {
    width: calc(100% - 10px);
}

#WFS_url {
    width: 200px;
    width: calc(100% - 10px);
}
#layers {
    height: 300px;
    overflow-y: scroll;
}

.OceanBrowserAttribution {
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    opacity: 0.9;
}

.OceanBrowserAttributionImage {
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    height: calc(50px + 2 * 5px);
    display: block;
}


table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background: #eee;
}

/* make OpenLayers.Popup.FramedCloud less ugly */
/* use a border radius of 8px */

#FeaturePopup_FrameDecorationDiv_0, #FeaturePopup_FrameDecorationDiv_1, #FeaturePopup_FrameDecorationDiv_2, #FeaturePopup_FrameDecorationDiv_3 {
    background: white;
    border: 1px solid white;
}

#FeaturePopup_FrameDecorationDiv_0 {
    border-top-left-radius: 8px;
    border-top: 1px solid cccccc;
    border-left: 1px solid cccccc;
}

#FeaturePopup_FrameDecorationDiv_1 {
    border-top-right-radius: 8px;
    border-top: 1px solid cccccc;
    border-right: 1px solid cccccc;
}

#FeaturePopup_FrameDecorationDiv_2 {
    border-bottom-left-radius: 8px;
    border-bottom: 1px solid cccccc;
    border-left: 1px solid cccccc;
}

#FeaturePopup_FrameDecorationDiv_3 {
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid cccccc;
    border-right: 1px solid cccccc;
}

#FeaturePopup_FrameDecorationImg_0, #FeaturePopup_FrameDecorationImg_1, #FeaturePopup_FrameDecorationImg_2, #FeaturePopup_FrameDecorationImg_3  {
    display: none;
}

/* openlayers attribution */


/*.olControlAttribution  {
    bottom: 1em !important;
}*/

.olControlAttribution  {
    bottom: 1em;
}
