body {
    margin: 0px;
}

.config_param {    
    border: 1px solid gray;
    position: absolute;
    top: 5px;
    left: 0px;
    padding: 5px;
    display: block;
    box-shadow: rgb(136, 136, 136) 5px 5px 5px;
    background: white;
}


.row * {
  height: 28px;
  vertical-align: bottom;
  padding-left: 5px;
}

.output_container {
    /*position: relative;*/
    width: 800px;
    height: 600px;
   /* border: 1px solid blue;*/
}

/*
.output_container input[type=submit] {
position: absolute;
left: 40px;
top: 0px;
}
*/